body {
  background-color: rgb(54, 122, 143);
}

.form-component {
  width: 400px;
}

.display-4 {
  font-family: sans-serif;
}

.jumbotron {
  background-color: rgba(75, 183, 233);
}

.card-body {
  background: rgb(14, 77, 96);
  background: linear-gradient(
    0deg,
    rgba(14, 77, 96, 1) 0%,
    rgba(75, 183, 233) 43%
  );
}
